.navbar{
    background-color: olive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
    color: rgb(227, 223, 223);
    flex-wrap: wrap;
   
   
}
.logo{
    font-family: "Merienda", cursive;
    cursor: pointer;
}
.links{
    display: flex; 
    gap: 50px;
    font-size: larger;
    font-family: "Libertinus Serif Display", system-ui;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
  
}
.links a {
  text-decoration: none;
  color: white;
   
}
.links a.active-link {
  border-bottom: 2px solid rgb(227, 223, 223); /* highlight active page */
  
}


.button{
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px;
    color: white;
    background-color: transparent;
    display: flex;
    gap:8px;
    font-family: "Libertinus Serif Display", system-ui;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}
.button:hover {
  transform: scale(1.03);
  background-color: rgb(101, 101, 5);
}