.event-form{
    padding: 30px;
    justify-content: center;
    display: flex;
    


}
.form{
    max-width: 500px;
    padding: 50px ;
    border-radius: 20px;
    border: solid olive;
    box-shadow: 0 2px 8px rgba(174, 206, 32, 0.735);
    width: 100%;
}
.form-title{
    font-family: "Libertinus Serif Display", system-ui;
    color: olive;
    margin-bottom: 20px;
    text-align: center;
}
.form label{
    font-family: "Libertinus Serif Display", system-ui;
    font-weight: 600;
    margin-top: 10px;
    display: block;
    color: #333;
    font-size: large;
    
}
.f-text{
    
    padding: 10px 12px;
    width: 100%;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
    font-size: 0.95rem;
}
.f-text:focus {
  border-color: olive;
  box-shadow: 0 0 4px rgba(0,188,212,0.3);

}
.f-btn{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}
.f-btn button {
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.95rem;
  transition: background 0.2s ease, transform 0.1s ease;
  flex-direction: column;
}
.s-btn{
    background-color: olive;
    color: #fffafa;
}
.s-btn:hover {
  
  transform: scale(1.05);
}

/* Draft (warning) */
.d-btn {
  background: rgb(54, 54, 14);
  color: #fff;
}
.d-btn:hover {
  
  transform: scale(1.05);
}


/* Cancel (danger) */
.c-btn {
  background: gray;
  color: black;
}
.c-btn:hover {
  
  transform: scale(1.05);
}